@using FirstProject.Models
@model Slider

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create slide</h4>
        <p class="card-description">
            Basic form layout
        </p>
        <form class="forms-sample" method="post">
            <div class="form-group">
                <label for="exampleInputUsername1">Slide name</label>
                <input  class="form-control" asp-for=name  placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input  class="form-control" asp-for="desc" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">img</label>
                <input asp-for="img" class="form-control"  placeholder="image">
            </div>
            <div class="form-group">
                <label for="exampleInputConfirmPassword1">Offer</label>
                <input class="form-control" asp-for="offer" placeholder="offer">
            </div>

            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>