
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
}
<img src="~/assets/images/website-images//@Model.image"
     alt="Inner Image" />
<h2>
    @Model.name
</h2>

<h2>
    @Model.desc
</h2>

<a class="btn btn-light" asp-action="Index">Cancel</a>