@using FirstProject.Models
@model content
@{
    ViewData["Title"] = "deleteService";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
}

<h1>
    @Model.name
</h1>
<h2>@Model.desc</h2>

<button type="submit" asp-action=""> </button>

